body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

main {
  margin-top: 50px;
}

h1 {
  color: #66bfbf;
  font-size: 5rem;
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
  padding-bottom: 10px;
  font-weight: bolder;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: bolder;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-weight: bold;
}

a {
  color: #11999e;
  font-family: "Merriweather", serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  font-weight: bolder;
  line-height: 2;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 10px;
}

#navbar {
  background-color: #eaf6f6;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#welcome-section {
  height: 100vh;
  overflow: hidden;
}

.intro {
  width: 30%;
  margin: auto;
}

.mountain-img {
  width: 100%;
}

.eagle {
  width: 15%;
  position: absolute;
  top: 80px;
  left: 20%;
}

.top-cloud {
  position: absolute;
  top: 50px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  width: 50%;
  padding-bottom: 30px;
}

.skill-img-version {
  width: 40%;
  float: right;
  padding-left: 30px;
}

.skill-img-python,
.skill-img-web {
  width: 40%;
  float: left;
  padding-right: 30px;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link {
  padding: 10px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119998);
  background-image: -moz-linear-gradient(top, #11cdd4, #119998);
  background-image: -ms-linear-gradient(top, #11cdd4, #119998);
  background-image: -o-linear-gradient(top, #11cdd4, #119998);
  background-image: linear-gradient(to bottom, #11cdd4, #119998);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

#copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* Projects */

#project-img {
  width: 100%;
}

.project-title button {
  padding: 10px;
}

.carousel-img {
  border-radius: 20px;
}

.carousel {
  width: 70%;
  height: 100%;
  margin: 100px auto;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .top-cloud {
    position: absolute;
    top: 50px;
    right: 15%;
  }

  .eagle {
    width: 7%;
    position: absolute;
    top: 120px;
    left: 20%;
  }

  .bottom-cloud {
    position: absolute;
    left: 15%;
    top: 50%;
  }

  .mountain-img {
    width: 70%;
  }
}
